<header class="navbar">
  <div class="navbar-container">
    <a href="#" class="navbar-logo">PODER GYM</a>

    <input type="checkbox" id="menu-toggle" class="menu-toggle-checkbox" />
    <label for="menu-toggle" class="menu-toggle-btn">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <nav class="navbar-links">
      <a href="#inicio">Inicio</a>
      <a href="#nosotros">Nosotros</a>
      <a href="#productos">Planes</a>
      <a href="#promociones">Promociones</a>
      <a href="#contacto">Contacto</a>
    </nav>
  </div>
</header>
